<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>管理员</title>
	<link rel="stylesheet" href="./css/bootstrap3.min.css">  
	<script src="./js/jquery.min.js"></script>
	<script src="./js/bootstrap.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script> 



    
      
</head>
<body>
    <!-- 模态框（Modal） -->
	 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" 
                            aria-hidden="true">×
                    </button>
                    
                    <form class="form-horizontal" role="form" id="sortForm">
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">车牌号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstname" 
                                       placeholder="请输入车牌号" name="bus_number">
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">司机号码</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstname" 
                                       placeholder="司机手机号" name="phone">
                            </div>
                        </div> -->
                       
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">最大乘车人数</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstname" 
                                       placeholder="请输入最大乘车人数" name="threshold_passenger">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">总票价</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstname" 
                                       placeholder="请输总票价" name="threshold_price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">路线id</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstname" 
                                       placeholder="请输路线id" name="line_id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label" style = "display:none">当前单人票价</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstname" 
                                       placeholder="200" name="ticket_price" value = "200" readonly style = "display:none">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">目的地</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstname" 
                                       placeholder="请输目的地" name="station">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">司机手机号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstname" 
                                       placeholder="请输入司机联系方式" name="driver_phone">
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" 
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" id="regect"  data-dismiss="modal">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
	<div class="container" id="app" v-cloak>
        <div class="row" >

            <nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid"> 
				<div class="navbar-header">
					<a class="navbar-brand" href="#">车辆管理</a>
				</div>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="按ID查询" v-model="searchString">
					</div>
				</form>
				<button type="button" class="btn btn-success btn-lg btn-block"  data-toggle="modal" data-target="#myModal">新增车辆信息</button>
				</div>
			</nav>
    
            <!-- 循环输出数据 -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center  list-group-horizontal">
                <a class="list-group-item active">车牌号</a>           
                    <a  class="list-group-item" v-on:click="jumptod(site)"  v-for="site in filteredBuses">
                        {{site.bus_number}}                      
                   </a>
            </div>
        </div>
        <!--分页-->
        <ul class="pagination">
			<li><a href="#">&laquo;</a></li>
			<li class="active"><a href="#">1</a></li>
			<li class="disabled"><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">6</a></li>
			<li><a href="#">7</a></li>
			<li><a href="#">8</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
    </div>
    <script>
    new Vue({
            el: '#app',
            data() {
                return {
                    searchString: "",
                    info: null
                }
            },
            mounted() {
                axios
                    .get('http://127.0.0.1:8080/buses/')
                    .then(response => (this.info = response.data.results))
                    .catch(function (error) { // 请求失败处理
                        console.log(error);
                    });
            },
            methods : {
            jumptod : function(site){
                window.location.href="tablevue.html?id="+site.id;
            }
            },

            computed: {
            // 计算数学，匹配搜索
            filteredBuses: function () {
                var buses_array = this.info,
                    searchString = this.searchString;
    
                if(!searchString){
                    return buses_array;
                }
    
                searchString = searchString.trim().toLowerCase();
    
                buses_array = buses_array.filter(function(info){
                    if(info.bus_number.toLowerCase().indexOf(searchString) !== -1){
                        return info;
                    }
                })
    
                // 返回过来后的数组
                return buses_array;;
            }
        }
        })
    

        //传参
        
        //路由
        

        // export default {
        // methods: {
        //    intoProductSetting(row) {
        //      let settingObj = {
        //      bankName: row.bankName,
        //      productName: row.projectName,
        //      path: this.$route.path
        //     };
        //   window.localStorage.setItem("settingObj", JSON.stringify(settingObj));
        //   this.$router.push({ path: "/tablevue.html", query: { id: site.id } });
        //   }
        // }
      


        //模态框表单提交
        // function formsubmit() {
        //     $.ajax({
        //     //几个参数需要注意一下
        //         type: "POST",//方法类型
        //         dataType: "json",//预期服务器返回的数据类型
        //         url: "http://localhost:8080/buses/" ,//url
        //         data: $('#sortForm').serialize(),
        //         success: function (result) {
        //             console.log(result);//打印服务端返回的数据(调试用)
        //             if (result.resultCode == 200) {
        //                 alert("SUCCESS");
        //             }
        //             ;
        //         },
        //         error : function() {
        //             alert("异常！");
        //         }
        //     });
        // }


        //模态框提交2
        $("#regect").click(function () {
    $.ajax({  
            type: "POST",   //提交的方法
            url:"http://localhost:8080/buses/", //提交的地址  
            data:$('#sortForm').serialize(),// 序列化表单值 
            /*{
            "url": "http://127.0.0.1:8080/buses/35/",
            "id": 35,
            "line_id": "http://127.0.0.1:8080/lines/1/",
            "bus_number": "455555648",
            //"ticket_price": "2.00",
            "threshold_price": "200.00",
            "current_passenger": 0,
            "threshold_passenger": 20,
            //"latitude": null,
            //"longitude": null,
            //"location": "",
            "station": "车站1",
            "status": 0,
            "driver_phone": 555
        } ,*/
            async: false,  
            error: function(request) {  //失败的话
                 alert("Connection error");
                 console.log(data);  
            },  
            success: function(data) {  //成功
                console.log(data);
                jump();
                //alert(data);  //就将返回的数据显示出来
            }  
         });
       });  
       function jump(){
        window.location.replace("adminvue.html")
        //location.reload();
		//window.open("adminvue.html");
	}
    </script>
 
</body>
</html>

