.heart
{
animation: heart ease-in-out 1.3s infinite alternate;
}
@keyframes heart
{
from{transform:translate(0,0)}
to{transform:translate(0,9px)}
}
.main {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
